<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="myvideodatabaseEntities" connectionString="metadata=res://*/model.csdl|res://*/model.ssdl|res://*/model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=16011991;Persist Security Info=True;database=myvideodatabase&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>